<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentManagement" security:require="Sitecore">
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.DefaultResolver, Sitecore.Kernel']" type="SitecoreExtension.SeoUrl.UrlRewrite.UrlRewriteProcessor,SitecoreExtension.SeoUrl" />
        <processor type="SitecoreExtension.SeoUrl.UrlRedirect.RedirectProcessor,SitecoreExtension.SeoUrl" patch:after="processor[@type='SitecoreExtension.SeoUrl.UrlRewrite.UrlRewriteProcessor,SitecoreExtension.SeoUrl']" />
      </httpRequestBegin>
    </pipelines>
    <links>
      <itemUrlBuilder>
        <patch:attribute name="type">SitecoreExtension.SeoUrl.LinkProvider.LinkProvider, SitecoreExtension.SeoUrl</patch:attribute>
      </itemUrlBuilder>
    </links>
    <settings>
      <setting name="redirectionRules" value="/sitecore/system/Modules/SEO URLs/URL Routing/Redirection Rules"/>
      <setting name="rewriteRules" value="/sitecore/system/Modules/SEO URLs/URL Routing/Rewrite Rules"/>
      <setting name ="linkSettingsRules" value="/sitecore/system/Modules/SEO URLs/URL Routing/Link Settings Rules"/>
    </settings>
    <commands>
      <command name="item:previewsite" type="SitecoreExtension.SeoUrl.Command.PreviewExtensionCommand,SitecoreExtension.SeoUrl" />
    </commands>
  </sitecore>
</configuration>